<div class="nav-right category">
    <div class="header-nav-right">
        DANH MỤC CÂY CẢNH
    </div>
    <div class="list-nav-right">
        <ul class="list-menu-nav">
            <li class="li-list-menu-nav" *ngFor="let nav of nav_right">
                <a class="btn-list-menu-nav"><i class="fa fa-tree icon-tree"></i>{{nav.item}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="margin-top"></div>
<div class="nav-right products">
    <div class="header-nav-right">
        CÂY CẢNH MỚI
    </div>
    <div class="list-nav-products">
        <ul class="list-menu-nav-products">
            <li class="li-list-menu-nav-products">
                <a class="btn-list-menu-nav-products">
                    <div class="form-product">
                        <div class="img-products">
                            <img src="../../../assets/dbcaycanh/img/img-product.jpg" alt="" style="width:100%">
                        </div>
                        <div class="form-product-name">
                            <div class="product-name">
                                Cây Bình An
                            </div>
                            <div class="product-cost">
                                149.000VNĐ
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="li-list-menu-nav-products">
                <a class="btn-list-menu-nav-products">
                    <div class="form-product">
                        <div class="img-products">
                            <img src="../../../assets/dbcaycanh/img/img-product.jpg" alt="" style="width:100%">
                        </div>
                        <div class="form-product-name">
                            <div class="product-name">
                                Cây Bình An
                            </div>
                            <div class="product-cost">
                                149.000VNĐ
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="li-list-menu-nav-products">
                <a class="btn-list-menu-nav-products">
                    <div class="form-product">
                        <div class="img-products">
                            <img src="../../../assets/dbcaycanh/img/img-product.jpg" alt="" style="width:100%">
                        </div>
                        <div class="form-product-name">
                            <div class="product-name">
                                Cây Bình An
                            </div>
                            <div class="product-cost">
                                149.000VNĐ
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="li-list-menu-nav-products">
                <a class="btn-list-menu-nav-products">
                    <div class="form-product">
                        <div class="img-products">
                            <img src="../../../assets/dbcaycanh/img/img-product.jpg" alt="" style="width:100%">
                        </div>
                        <div class="form-product-name">
                            <div class="product-name">
                                Cây Bình An
                            </div>
                            <div class="product-cost">
                                149.000VNĐ
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="li-list-menu-nav-products">
                <a class="btn-list-menu-nav-products">
                    <div class="form-product">
                        <div class="img-products">
                            <img src="../../../assets/dbcaycanh/img/img-product.jpg" alt="" style="width:100%">
                        </div>
                        <div class="form-product-name">
                            <div class="product-name">
                                Cây Bình An
                            </div>
                            <div class="product-cost">
                                149.000VNĐ
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="li-list-menu-nav-products">
                <a class="btn-list-menu-nav-products">
                    <div class="form-product">
                        <div class="img-products">
                            <img src="../../../assets/dbcaycanh/img/img-product.jpg" alt="" style="width:100%">
                        </div>
                        <div class="form-product-name">
                            <div class="product-name">
                                Cây Bình An
                            </div>
                            <div class="product-cost">
                                149.000VNĐ
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>