<div class="login-component">
    <div class="login-container">
        <div class="login-box">
            <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="logo">
                    <div>
                        <img src="../../../assets//dbcaycanh/img/logo-cay-canh-viet.jpg" width="100%" width="100px">
                    </div>
                </div>
                <div class="login-title-box">
                    <span class="login-text">LOGIN TO YOUR ACCOUNT</span>
                </div>
    
                <div class="login-input">
                    <div class="username-box">
                        <div class="user-icon">
                            <i class="fas fa-user "></i>
                        </div>
                        <input class="username" type="text" formControlName="username" placeholder="Username" required>
                    </div>
                    <div class="password-box">
                        <div class="pass-icon">
                            <i class="fas fa-lock "></i>
                        </div>
                        <input class="password" type="password" formControlName="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="wrongUser">{{LoginWrong}}</div>
                <div class="login-btn-box">
                    <button class="login-btn" (click)="onSubmit()">Login</button>
                    <!-- <button class="login-btn" (click)="Register()">Register</button> -->
                </div>
                <div class="login-btn-register">
                    <div class="label-register">Don't have an account?</div>
                    <div>
                        <a href="/register">Create an account</a>
                    </div>
                </div>
                
            </form>
    </div>
    
</div>