<div class="container home-container">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-8 home-content">
            <!-- <div class="slideshow-container">
                <div class="mySlides fade">
                    
                </div>
                <div class="mySlides fade">
                    <img src="../../assets/img/banner4.jpg" style="width:90%">
                </div>
                <div class="mySlides fade">
                    <img src="../../assets//img/banner3.gif" style="width:90%">
                </div>
            </div> -->
            <div class="banner">
                <img src="../../assets/dbcaycanh/img/banner.jpg" style="width:100%">
            </div>
            <div class="best-sale">
                <div class="header-best-sale">
                    <div class="best-sale-logo">
                        <div class="best-sale-img">
                            <img src="../../../../assets/dbcaycanh/img/z2112057476883_bd16840d581df28972f222d6c131e7c1.jpg" alt="" width="100%">
                        </div>
                    </div>
                    <div class="best-sale-name">
                        <span>Cây cảnh mới</span>
                    </div>
                </div>
                <div class="body-best-sale">
                    <div class="slide-container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="product-slide">
                                    <div class="product-slide-img">
                                        <img src="../../assets/dbcaycanh/img/product1.jpg" alt="" width="100%">
                                    </div>
                                    <div class="product-slide-name">
                                        Cây Dương Xỉ Cẩm Thạch
                                    </div>
                                    <div class="product-slide-cost">
                                        125.000VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="product-slide">
                                    <div class="product-slide-img">
                                        <img src="../../assets/dbcaycanh/img/product1.jpg" alt="" width="100%">
                                    </div>
                                    <div class="product-slide-name">
                                        Cây Dương Xỉ Cẩm Thạch
                                    </div>
                                    <div class="product-slide-cost">
                                        125.000VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="product-slide">
                                    <div class="product-slide-img">
                                        <img src="../../assets/dbcaycanh/img/product1.jpg" alt="" width="100%">
                                    </div>
                                    <div class="product-slide-name">
                                        Cây Dương Xỉ Cẩm Thạch
                                    </div>
                                    <div class="product-slide-cost">
                                        125.000VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="product-slide">
                                    <div class="product-slide-img">
                                        <img src="../../assets/dbcaycanh/img/product1.jpg" alt="" width="100%">
                                    </div>
                                    <div class="product-slide-name">
                                        Cây Dương Xỉ Cẩm Thạch
                                    </div>
                                    <div class="product-slide-cost">
                                        125.000VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="product-slide">
                                    <div class="product-slide-img">
                                        <img src="../../assets/dbcaycanh/img/product1.jpg" alt="" width="100%">
                                    </div>
                                    <div class="product-slide-name">
                                        Cây Dương Xỉ Cẩm Thạch
                                    </div>
                                    <div class="product-slide-cost">
                                        125.000VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="product-slide">
                                    <div class="product-slide-img">
                                        <img src="../../assets/dbcaycanh/img/product1.jpg" alt="" width="100%">
                                    </div>
                                    <div class="product-slide-name">
                                        Cây Dương Xỉ Cẩm Thạch
                                    </div>
                                    <div class="product-slide-cost">
                                        125.000VNĐ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4">
            <div class="">
                <app-navright></app-navright>
            </div>
        </div>
    </div>
</div>